.button {
    min-width: 500px;
    min-height: 50px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #5603AD 0%, #B3E9C7  51%, #5603AD  100%);
    background-size: 200% auto;
    color: white;
    transition: 0.35s;
  }
  
  .button:hover {
    cursor: pointer;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }