.button {
    min-width: 500px;
    min-height: 50px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #8EC5FC 0%, #425f9c  51%, #8EC5FC  100%);
    background-size: 200% auto;
    color: white;
    transition: 0.35s;
  }
  
  .button:hover {
    cursor: pointer;
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
  }