.btn-export {
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    background-color: green;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: scale 150ms;
}

.btn-export:focus {
    scale: 0.98;
}

.details-container h4 {
    color: white;
}