.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    color: white;
}

.error-page a {
    color: white;
}

.error-page img {
    max-height: 50%;
    max-width: 50%;
}