@import "../App.css";

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h3 {
  position: absolute;
  top: 5%;
  color:white;
}

.form-control {
  position: absolute;
  display: flex;
  top: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  padding: 55px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.form-input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  outline: none;
  outline-style: none;
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
}

.form-input:focus::placeholder {
  color: transparent;
}

.form-input::placeholder {
  font-weight: bold;
  color: #c3c3c3;
}
