@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background:#4158D0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(43deg, #4158D0, #4158D0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(43deg, #4158D0 0%, #7845d7 46%, #FFCC70 100%);; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  height: 100vh;
}


