@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background:#8EC5FC; 
  /* background: -webkit-linear-gradient(43deg, #8EC5FC, #425f9c);  
  background: linear-gradient(62deg, #8EC5FC 0%, #425f9c 100%); 
  background-repeat: no-repeat; */
  min-height: 100vh;
}

input.input-error,select.input-error {
  border-color: #d52323;
}

.shadow-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.error {
  color: #d52323;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
  background-color: #fefefe;
}

.modal-text {
  margin-left: 14px;
  font-size: 24px
}

.loader {
  width: 50px;
  height: 50px;
  border: 8px solid #ddd;
  border-top: 8px solid #2196f3;
  border-bottom: 8px solid #2196f3;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}