.login-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  min-width: 500px;
  min-height: 50px;
}

.button {
  min-width: 500px;
  min-height: 50px;
  background-color:#4376de;
  color: white;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}

.button:hover {
  background-color: white;
  color:#4376de;
}